<table class="striped highlight">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Established</th>
			<th>Logo</th>
			<th>Ava</th>
			<th>Company</th>
		</tr>
	</thead>
	<tbody>
		{{#each wineries}}
			<tr>
				<td>{{id}}</td>
				<td>{{name}}</td>
				<td>{{est}}</td>
				<td>{{logo}}</td>
				<td>{{ava}}</td>
				<td>{{company}}</td>
			</tr>
		{{/each}}
	</tbody>
</table>